body {
  font-family: "Helvetica", sans-serif;
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, h5, p, div, a, span, b, i {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 2.5rem !important;
  }
}

@media (max-width: 1200px) {
  h3 {
    font-size: 1.8rem !important;
  }
}

a, input, textarea, button {
  outline: none;
  text-decoration: none;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

p, li {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
}

.container {
  max-width: 1306px;
  margin: auto;
}
@media (max-width: 1200px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.header__logo {
  background: url(../img/logo.png) no-repeat center center/contain;
}

.sec1 {
  margin-top: 91px;
  padding-bottom: 4rem;
}
.sec1 .container .sec1__one {
  display: flex;
  justify-content: space-between;
  height: 533px;
}
@media (max-width: 1200px) {
  .sec1 .container .sec1__one {
    display: block;
    height: 100%;
  }
}
.sec1 .container .sec1__one .sec1__left {
  max-width: 755px;
  height: 100%;
  background-color: #6AC96B;
  border-radius: 30px 30px 0px 0px;
  padding: 4rem;
}
@media (max-width: 1200px) {
  .sec1 .container .sec1__one .sec1__left {
    max-width: 100%;
    margin-bottom: 15px;
    padding: 2rem;
  }
}
.sec1 .container .sec1__one .sec1__left .sec1__crumbs {
  margin-bottom: 50px;
}
.sec1 .container .sec1__one .sec1__left .sec1__crumbs span {
  color: #333;
}
.sec1 .container .sec1__one .sec1__left .sec1__crumbs span:nth-child(1), .sec1 .container .sec1__one .sec1__left .sec1__crumbs span:nth-child(3) {
  opacity: 0.3;
}
.sec1 .container .sec1__one .sec1__left .sec1__h1 h1 {
  font-family: "Mont", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 70px;
  color: #F4F4F4;
  text-transform: uppercase;
}
.sec1 .container .sec1__one .sec1__left .sec1__main_text {
  margin-top: 12px;
}
.sec1 .container .sec1__one .sec1__left .sec1__main_text p, .sec1 .container .sec1__one .sec1__left .sec1__main_text a {
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  color: #333;
}
.sec1 .container .sec1__one .sec1__left .sec1__main_text a {
  font-weight: 600;
  color: #333;
}
.sec1 .container .sec1__one .sec1__left .sec1__dir {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px;
}
.sec1 .container .sec1__one .sec1__left .sec1__dir div {
  width: 50%;
}
@media (max-width: 1200px) {
  .sec1 .container .sec1__one .sec1__left .sec1__dir div {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.sec1 .container .sec1__one .sec1__left .sec1__dir div h2 {
  color: #F4F4F4;
}
.sec1 .container .sec1__one .sec1__left .sec1__dir div p {
  color: #333;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 19px;
  color: #333;
}
.sec1 .container .sec1__one .sec1__right {
  max-width: 535px;
  height: 100%;
}
@media (max-width: 1200px) {
  .sec1 .container .sec1__one .sec1__right {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .sec1 .container .sec1__one .sec1__right img {
    max-width: 100%;
    width: 100%;
  }
}
.sec1 .container .sec1__two {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec1 .container .sec1__two h2 {
  display: block;
  width: 50%;
  color: #14864A;
  text-transform: uppercase;
  font-family: Mont;
  font-size: 48px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: 0em;
  text-align: left;
}
@media (max-width: 1200px) {
  .sec1 .container .sec1__two h2 {
    width: 100%;
  }
}
.sec1 .container .sec1__two p {
  display: block;
  width: 50%;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #3B3946;
}
@media (max-width: 1200px) {
  .sec1 .container .sec1__two p {
    width: 100%;
  }
}

.sec2 {
  background-color: #6AC96B;
  padding: 5rem 0;
}
.sec2 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1088px;
  margin: auto;
}
.sec2 .container div {
  width: 49%;
  padding: 4rem;
  background-color: #fff;
  border: 3px solid #111111;
  border-radius: 30px 30px 0px 0px;
}
@media (max-width: 1200px) {
  .sec2 .container div {
    width: 100%;
    border-radius: 30px;
    margin-bottom: 1rem;
    padding: 2rem;
  }
}
.sec2 .container div h2 {
  font-family: "Mont", sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  text-transform: uppercase;
  color: #111111;
}
.sec2 .container div p, .sec2 .container div li {
  font-family: "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #111111;
}

.sec3 {
  height: 1175px;
  background: url(../img/frame-1462.png) no-repeat center center/cover;
  padding: 4rem 0;
}
.sec3 .container {
  max-width: 1088px;
  margin: auto;
}
.sec3 .container h3 {
  font-family: "Mont", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 130%;
  text-transform: uppercase;
  color: #14864A;
}
.sec3 .container p {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #111111;
  margin-top: 1rem;
}

.sec4 {
  padding: 5rem 0;
}
@media (max-width: 1200px) {
  .sec4 {
    padding: 5rem 0 0 0;
  }
}
.sec4 .container h2 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  text-transform: uppercase;
  color: #14864A;
  margin-bottom: 2rem;
}
.sec4 .container .sec4__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sec4 .container .sec4__content div {
  width: 50%;
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content div {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.sec4 .container .sec4__content div h3 {
  font-family: "Mont", sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3B3946;
  margin-bottom: 0.8rem;
}
.sec4 .container .sec4__content div p {
  margin-bottom: 0.5rem;
}
.sec4 .container .sec4__content div:nth-child(1) {
  padding: 3rem 2rem 0 0;
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content div:nth-child(1) {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content div:nth-child(2) img {
    width: 100%;
  }
}
.sec4 .container .sec4__content div:nth-child(3) {
  background: #F4F4F4;
  border-radius: 30px 0 0 30px;
  padding: 4rem;
  margin-top: 2rem;
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content div:nth-child(3) {
    padding: 2rem;
  }
}
.sec4 .container .sec4__content div:nth-child(3) p {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  text-transform: uppercase;
  color: #14864A;
  margin-bottom: 1rem;
}
.sec4 .container .sec4__content div:nth-child(3) img {
  margin: auto;
  display: block;
}
.sec4 .container .sec4__content div:nth-child(4) {
  margin-top: 2rem;
  background-color: #F4F4F4;
  border-radius: 0 30px 30px 0;
  padding: 6rem 4rem 5rem 0;
  position: relative;
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content div:nth-child(4) {
    padding: 3rem 3rem 20rem 3rem;
  }
}
.sec4 .container .sec4__content div:nth-child(4) img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.sec4 .container .sec4__content div:nth-child(5) {
  padding: 5rem 5rem 5rem 0;
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content div:nth-child(5) {
    padding: 2rem 2rem 0 2rem;
  }
}
.sec4 .container .sec4__content div:nth-child(6) {
  padding: 5rem 5rem 5rem 0;
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content div:nth-child(6) {
    padding: 0 2rem 2rem 2rem;
  }
}
.sec4 .container .sec4__content .sec4__collage {
  padding-right: 20px;
}
@media (max-width: 1200px) {
  .sec4 .container .sec4__content .sec4__collage {
    padding: 0;
  }
}
.sec4 .container .sec4__content .sec4__collage img {
  width: 100%;
}
.sec4 .container .sec4__end {
  max-width: 663px;
  margin: 6rem auto;
  padding: 3rem;
  background: #F4F4F4;
  box-shadow: 0px 12px 21px rgba(17, 17, 17, 0.12);
  border-radius: 30px;
  position: relative;
}
.sec4 .container .sec4__end p {
  text-align: center;
}
.sec4 .container .sec4__end img {
  position: absolute;
  right: -120px;
  top: -70px;
}

.sec5 {
  padding: 0 0 2rem 0;
}
.sec5 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.sec5 .container div {
  width: 49%;
}
@media (max-width: 1200px) {
  .sec5 .container div {
    width: 100%;
  }
}
.sec5 .container div h2 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  text-transform: uppercase;
  color: #3B3946;
  margin-bottom: 0.8rem;
}
.sec5 .container div p {
  margin-bottom: 0.8rem;
}
.sec5 .container div li {
  text-indent: -1.6rem;
  padding-left: 1.6rem;
}

.sec6 {
  margin: 2rem 0 0 0;
  height: 740px;
  position: relative;
  padding: 0;
}
@media (max-width: 1200px) {
  .sec6 {
    height: 100%;
  }
}
.sec6 .sec6__ellipce {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (max-width: 1200px) {
  .sec6 .sec6__ellipce {
    display: none;
  }
}
.sec6 .sec6__ellipce img {
  position: absolute;
  bottom: 0;
}
.sec6 .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec6 .container div {
  width: 50%;
}
@media (max-width: 1200px) {
  .sec6 .container div {
    width: 100%;
  }
}
.sec6 .container .sec6__le {
  padding-right: 2rem;
}
@media (max-width: 1200px) {
  .sec6 .container .sec6__le {
    padding-right: 0;
  }
}
.sec6 .container .sec6__le table {
  display: block;
  overflow: auto;
}
@media (max-width: 1200px) {
  .sec6 .container .sec6__le table {
    border: solid 1px #ccc;
    margin-bottom: 2rem;
  }
}
.sec6 .container .sec6__le table tr {
  vertical-align: baseline;
}
.sec6 .container .sec6__le table tr td {
  padding-bottom: 2rem;
}
.sec6 .container .sec6__le table tr td h4 {
  font-family: "Mont", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 130%;
  text-transform: uppercase;
  color: #14864A;
  margin-right: 1.5rem;
}
.sec6 .container .sec6__le table tr td span {
  font-family: "Mont";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  text-transform: uppercase;
  color: #111111;
}
@media (max-width: 1200px) {
  .sec6 .container .sec6__ri img {
    width: 100%;
  }
}

.sec7 {
  background: url(../img/frame-sec7.png) no-repeat center center/cover;
  margin-top: -3px;
  padding: 7rem 0;
}
.sec7 .container h3 {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 2rem;
}
.sec7 .container .sec7__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sec7 .container .sec7__content div {
  width: 49.5%;
  height: 546px;
}
@media (max-width: 1200px) {
  .sec7 .container .sec7__content div {
    width: 100%;
    height: 100%;
  }
}
.sec7 .container .sec7__content div:nth-child(1) {
  background: #fff;
  border: 3px solid #FFFFFF;
  border-radius: 30px 30px 0px 0px;
  padding: 3rem 4rem;
}
@media (max-width: 1200px) {
  .sec7 .container .sec7__content div:nth-child(1) {
    padding: 2rem;
  }
}
.sec7 .container .sec7__content div:nth-child(1) li {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 146%;
  text-indent: -2.3rem;
  padding-left: 2.3rem;
}
@media (max-width: 1200px) {
  .sec7 .container .sec7__content div:nth-child(1) li {
    font-size: 18px;
    text-indent: -1.8rem;
    padding-left: 1.8rem;
  }
}
.sec7 .container .sec7__content div:nth-child(2) img {
  width: 100%;
}
@media (max-width: 1200px) {
  .sec7 .container .sec7__content div:nth-child(2) img {
    margin-top: 2rem;
  }
}

.sec8 {
  padding: 8rem 0;
}
.sec8 .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.sec8 .container .sec8__le {
  position: relative;
  max-width: 545px;
  width: 35%;
}
@media (max-width: 1200px) {
  .sec8 .container .sec8__le {
    width: 100%;
    margin: 0 auto 5rem auto;
  }
}
.sec8 .container .sec8__le .sec8__i1 {
  position: absolute;
  top: 0;
  left: -70px;
  z-index: -1;
}
.sec8 .container .sec8__le .sec8__i2 {
  position: absolute;
  top: 45%;
  left: -70px;
  z-index: -1;
}
.sec8 .container .sec8__le .sec8__i3 {
  max-width: 300px;
  z-index: 1;
}
.sec8 .container .sec8__le .sec8__i4 {
  position: absolute;
  bottom: 20%;
  left: 42%;
}
@media (max-width: 1200px) {
  .sec8 .container .sec8__le .sec8__i4 {
    left: 12%;
  }
}
.sec8 .container .sec8__le .sec8__i4 .sec8__i4tx {
  width: 280px;
  height: 91px;
  position: absolute;
  background: url(../img/union.png) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sec8 .container .sec8__le .sec8__i4 .sec8__i4tx div {
  margin-top: 15px;
}
.sec8 .container .sec8__le .sec8__i4 .sec8__i4tx div p:first-of-type {
  font-family: "Mont";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 133.5%;
  text-transform: uppercase;
  color: #313131;
}
.sec8 .container .sec8__le .sec8__i4 .sec8__i4tx div p:last-of-type {
  font-family: "Mont";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 133.5%;
  color: #313131;
}
.sec8 .container .sec8__ri {
  width: 55%;
}
@media (max-width: 1200px) {
  .sec8 .container .sec8__ri {
    width: 100%;
    margin: 2rem auto;
  }
}
.sec8 .container .sec8__ri .sec8__btn {
  background: linear-gradient(90.1deg, #FFCB65 0.1%, #D866D9 51.47%, #6852D9 94.39%);
  border-radius: 190.95px;
  width: 100%;
  max-width: 678px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 31.9298px;
  line-height: 37px;
  color: #313131;
  margin: 3rem 0;
  text-align: center;
}
@media (max-width: 1200px) {
  .sec8 .container .sec8__ri .sec8__btn {
    margin: 3rem auto;
  }
}
.sec8 .container .sec8__ri p {
  font-family: Mont;
  font-size: 16px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #313131;
  margin-bottom: 1rem;
}
@media (max-width: 1200px) {
  .sec8 .container .sec8__ri p {
    text-align: center;
  }
}
.sec8 .container .sec8__ri .sec8__tel {
  font-family: Mont;
  font-size: 25px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin: auto;
  color: #313131;
  display: block;
}
@media (max-width: 1200px) {
  .sec8 .container .sec8__ri .sec8__tel {
    text-align: center;
  }
}

.footer .container {
  position: relative;
}
.footer .container .footer__smm {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 1200px) {
  .footer .container .footer__smm {
    position: static;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .footer .container .footer__smm a {
    margin: 10px;
  }
}
.footer .container h2 {
  font-family: "Mont", sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  letter-spacing: 0em;
  text-align: center;
  color: #3B3946;
  margin-bottom: 140px;
}
@media (max-width: 1200px) {
  .footer .container h2 {
    line-height: 3rem;
    margin-bottom: 50px;
  }
}
.footer .container .footer__btn {
  background: linear-gradient(90.1deg, #FFCB65 0.1%, #D866D9 51.47%, #6852D9 94.39%);
  border-radius: 190.95px;
  width: 100%;
  max-width: 459.89px;
  height: 130.42px;
  font-family: "Helvetica", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3B3946;
}
.footer .container .footer__p {
  font-family: "Mont", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 2rem;
}
.footer .container .footer__b {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .footer .container .footer__b {
    display: block;
    text-align: center;
  }
}
.footer .container .footer__b .footer__logo img {
  max-width: 138px;
}
@media (max-width: 1200px) {
  .footer .container .footer__b .footer__logo {
    margin: auto;
    margin-bottom: 3rem;
  }
}
.footer .container .footer__b .footer__email {
  font-family: "Mont", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
}
.footer .container .footer__b .footer__arrow {
  cursor: pointer;
  max-width: 138px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 1200px) {
  .footer .container .footer__b .footer__arrow {
    display: none;
  }
}/*# sourceMappingURL=style2.css.map */