body {
    font-family: 'Helvetica', sans-serif;
    scroll-behavior: smooth;
}
body, h1, h2, h3, h4, h5, p, div, a, span, b, i {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2 {
    @media (max-width: 1200px) {
        font-size: 2.5rem !important;
    }
}
h3 {
    @media (max-width: 1200px) {
        font-size: 1.8rem !important;
    }
}
a, input, textarea, button {
    outline: none; 
    text-decoration: none;
    font-family: inherit;
    border: none;
    cursor: pointer;
}
p, li {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
}
.container {
    max-width: 1306px;
    margin: auto;
    @media (max-width: 1200px) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

// var
$green1: #6AC96B;
$green2: #14864A;


// header
.header__logo {
    background: url(../img/logo.png) no-repeat center center/contain;
}

.s1 {
    .center-wrap {
        .main-banner__wrap {
            .main-banner__left {
                height: 533px;
                padding: 0;
                .main-banner__slogo {
                    padding: 3rem 3rem 3rem 3rem;
                    background-color: $green1;
                    height: 100%;
                    .bread {
                        margin: 0 0 2rem 0;
                    }
                    .main-banner__slogo-h1 {
                        font-family: 'Mont', sans-serif;
                        font-size: 64px;
                        font-weight: 600;
                        line-height: 70px;
                        color: #F4F4F4;
                        text-transform: uppercase;
                    }
                    .main-banner__slogo-p {
                        font-family: 'Helvetica', sans-serif;
                        font-size: 15px;
                        font-weight: 300;
                        line-height: 19px;
                        color: #333;
                        a {
                            color: #333;
                        }
                    }
                    .main-banner__grid {
                        h4 {
                            color: #F4F4F4;
                            font-family: 'Helvetica', sans-serif;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 130%;
                        }
                    }
                }
                .main-banner__slogo::before {
                    content: '';
                    background: none;
                }
            }
            .main-banner__right {
                height: 533px;
                .main-banner__block {
                    background: url(../img/s1-img.png) no-repeat center center/cover;
                    position: relative;
                    height: 100%;
                    .main-banner__footer {
                        .btn-arrow {
                            background: url(../img/s1-arr.svg) no-repeat center center/cover;
                        }
                    }
                }
            }
        }
    }
}

.s2 {
    background: none !important;
    padding: 0 0 5rem 0;
    margin: 0;
    .center-wrap {
        .project-minidesc__wrap {
            margin: 0;
            max-width: 100%;
            .project-minidesc__text {
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media (max-width: 1200px) {
                    padding-left: 0;
                }
                h4 {
                    display: block;
                    width: 30%;
                    font-family: 'Mont', sans-serif;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 130%;
                    text-transform: uppercase;
                    color: #14864A;
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                }
                p {
                    display: block;
                    width: 65%;
                    font-family: 'Helvetica';
                    font-style: normal;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 130%;
                    color: #3B3946;
                    position: relative;
                    @media (max-width: 1200px) {
                        width: 100%;
                    }
                }
                p::after {
                    content: '';
                    width: 60px;
                    height: 60px;
                    background: url(../img/s1-star.png) no-repeat center center/cover;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-right: -100px;
                }
            }
        }
    }
}

.s3 {
    background: url(../img/s3-back.png) no-repeat center center/cover;
    padding: 3rem 0;
    height: 430px;
    z-index: 10;
    @media (max-width: 1200px) {
        height: 840px;
    }
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                .project-fulldesc__grid-block {
                    background: #FFFFFF;
                    border: 3px solid #111111;
                    border-radius: 30px 30px 0px 0px;
                    padding: 3rem;
                    h4 {
                        font-family: 'Mont', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #111111;
                        margin-bottom: 1rem;
                    }
                    li, p {
                        font-family: 'Helvetica', sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 130%;
                        color: #111111;
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}


.s4 {
    background: url(../img/s4-back.png) no-repeat center center/cover;
    padding: 3rem 0;
    height: 1170px;
    margin-top: -60px;
    position: relative;
    z-index: -1;
    @media (max-width: 1200px) {
        height: 500px;
        margin-top: -140px;
    }
    .center-wrap {
        h4 {
            font-family: 'Mont', sans-serif;
            font-size: 36px;
            font-weight: 600;
            line-height: 47px;
            letter-spacing: 0em;
            text-align: left;
            color: #14864A;
            text-transform: uppercase;
            @media (max-width: 1200px) {
                padding: 4rem 0 0 0;
            }
        }
        p {
            font-family: Helvetica;
            font-size: 16px;
            font-weight: 300;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;
            color: #111111;
            margin-top: 1rem;
        }
    }
}


.s5 {
    padding: 6rem 0;
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                max-width: 1088px;
                margin: auto;
                .project-fulldesc__grid-block {
                    h4 {
                        font-family: 'Mont', sans-serif;
                        font-size: 48px;
                        font-weight: 600;
                        line-height: 62px;
                        letter-spacing: 0em;
                        text-align: left;
                        text-transform: uppercase;
                        color: #14864A;
                        @media (max-width: 1200px) {
                            margin-top: 4rem;
                            font-size: 36px;
                        }
                    }
                    li {
                        font-family: Helvetica;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 21px;
                        letter-spacing: 0em;
                        text-align: left;
                        text-indent: -1.5rem;
                        padding-left: 1.5rem;
                    }
                }
            }
        }
    }
}


.s6 {
    padding: 2rem 0 3rem 0 !important;
    @media (max-width: 1200px) {
        padding: 2rem 0 0 0 !important;
    }
    .center-wrap {
        .project-fulldesc__block {
            h4 {
                font-family: 'Mont', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 130%;
                text-align: center;
                text-transform: uppercase;
                color: #14864A;
                margin-bottom: 50px;
                @media (max-width: 1200px) {
                    font-size: 36px;
                    margin-bottom: 1rem;
                    margin-top: 3rem;
                }
            }
            .project-fulldesc__grid {
                display: table;
                @media (max-width: 1200px) {
                    display: flex;
                }
                .project-fulldesc__grid-block {
                    display: table-cell;
                    vertical-align: middle;
                    position: relative;
                    img {
                        @media (max-width: 1200px) {
                            width: 100%;
                        }
                    }
                    h4 {
                        font-family: Mont;
                        font-size: 48px;
                        font-weight: 600;
                        line-height: 62px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #3B3946;
                        text-transform: uppercase;
                        margin-bottom: 15px;
                        @media (max-width: 1200px) {
                            font-size: 36px;
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                            line-height: 40px;
                        }
                    }
                    h4::before {
                        content: '';
                        width: 60px;
                        height: 60px;
                        background: url(../img/s6-star.png) no-repeat center center/cover;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: -50px;
                        margin-left: -100px;
                    }
                    p {
                        font-family: Helvetica;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 21px;
                        letter-spacing: 0em;
                        margin-bottom: 10px;
                        padding-right: 5rem;
                        b {
                            color: #6AC96B;
                        }
                        strong {
                            color: #14864A;
                        }
                    }
                }
            }
        }
    }
}


.s7 {
    padding: 1rem 0 3rem 0 !important;
    .center-wrap {
        .project-fulldesc__block {
            position: relative;
            .project-fulldesc__grid {
                background: #F4F4F4;
                border-radius: 30px;
                @media (max-width: 1200px) {
                    height: 100%;
                    padding: 5rem 2rem;
                }
                img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    @media (max-width: 1200px) {
                        display: none;
                    }
                }
                .project-fulldesc__grid-block {
                    height: 300px;
                    padding: 5rem 1rem;
                    @media (max-width: 1200px) {
                        height: 100%;
                        padding: 0;
                    }
                    h4 {
                        font-family: 'Mont', sans-serif;
                        font-size: 32px;
                        font-weight: 800;
                        line-height: 42px;
                        letter-spacing: 0em;
                        color: #14864A;
                        text-transform: uppercase;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                    p {
                        font-family: Helvetica;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 21px;
                        letter-spacing: 0em;
                        margin-bottom: 10px;
                        padding-right: 5rem;
                    }
                    img {
                        margin: auto;
                        display: block;
                        margin-top: 2rem;
                    }
                }
                .project-fulldesc__grid-block:first-of-type {
                    padding-left: 6rem;
                    @media (max-width: 1200px) {
                        padding-bottom: 0;
                        padding-left: 0;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}


.s8 {
    padding: 0 !important;
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                position: relative;
                .project-fulldesc__grid-block {
                    p {
                        font-family: 'Helvetica', sans-serif;
                        font-size: 16px;
                        font-weight: 300;
                        line-height: 21px;
                        letter-spacing: 0em;
                        padding-right: 4rem;
                        b {
                            color: #6AC96B;
                        }
                    }
                    p:last-of-type::after {
                        content: '';
                        width: 60px;
                        height: 60px;
                        background: url(../img/s8-star.png) no-repeat center center/cover;
                        display: block;
                        position: absolute;
                        right: 0;
                        top: -30px;
                        margin-right: -140px;
                    }
                }
            }
        }
    }
}


.s9 {
    padding: 5rem 0 !important;
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                position: relative;
                .project-fulldesc__grid-block {
                    img {
                        width: 100%;
                    }
                }
                .project-fulldesc__grid-block:last-of-type::after {
                    content: '';
                    width: 40px;
                    height: 40px;
                    background: url(../img/s6-star.png) no-repeat center center/cover;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 330px;
                    margin-right: -100px;
                }
            }
        }
    }
}


.s10 {
    padding: 1rem 0 !important;
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                display: block;
                max-width: 583px;
                background: #F4F4F4;
                box-shadow: 0px 12px 21px rgba(17, 17, 17, 0.12);
                border-radius: 30px;
                padding: 2rem 3rem;
                margin: auto;
                position: relative;
                p {
                    font-family: 'Helvetica', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 21px;
                    letter-spacing: 0em;
                    text-align: center;
                    b {
                        color: #6AC96B;
                    }
                    strong {
                        color: #148649;
                    }
                    span {
                        color: #FCB05D;
                    }
                }
                img {
                    position: absolute;
                    top: -70px;
                    right: -130px;
                }
            }
        }
    }
}


.s11 {
    padding: 5rem 0 !important;
    @media (max-width: 1200px) {
        padding: 1rem 0 !important;
    }
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                align-items: end;
                .project-fulldesc__grid-block {
                    padding-right: 3rem;
                    h3 {
                        font-family: 'Mont', sans-serif;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 48px;
                        line-height: 130%;
                        text-transform: uppercase;
                        color: #3B3946;
                        margin-bottom: 1rem;
                    }
                    p {
                        font-family: 'Helvetica';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 130%;
                        color: #111111;
                        margin-bottom: 1rem;
                    }
                    li {
                        font-family: 'Helvetica';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 16px;
                        line-height: 130%;
                        color: #111111;
                        margin-bottom: 0.5rem;
                        text-indent: -1.5rem;
                        padding-left: 1.5rem;
                    }
                }
            }
        }
    }
}


.s12 {
    padding: 5rem 0 15rem 0 !important;
    position: relative;
    @media (max-width: 1200px) {
        padding: 5rem 0 2rem 0 !important;
    }
    .s12__ellipse {
        position: absolute;
        bottom: -10px;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: -1;
    }
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                align-items: end;
                @media (max-width: 1200px) {
                    display: block;
                    overflow: auto;
                }
                .project-fulldesc__grid-block {
                    position: relative;
                    table {
                        @media (max-width: 1200px) {
                            margin-bottom: 2rem;
                            display: block;
                            overflow: auto;
                        }
                        tr {
                            vertical-align: baseline;
                            td {
                                padding-bottom: 2rem;
                                h4 {
                                    font-family: 'Mont', sans-serif;
                                    font-weight: 800;
                                    font-size: 32px;
                                    line-height: 130%;
                                    text-transform: uppercase;
                                    color: #14864A;
                                    margin-right: 1.5rem;
                                    @media (max-width: 1200px) {
                                        font-size: 24px;
                                    }
                                }
                                span {
                                    font-family: 'Mont';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 32px;
                                    line-height: 130%;
                                    text-transform: uppercase;
                                    color: #111111;
                                    @media (max-width: 1200px) {
                                        font-size: 24px;
                                    }
                                }
                            }
                        }
                    }
                    table::before {
                        content: '';
                        width: 30px;
                        height: 30px;
                        background: url(../img/s6-star.png) no-repeat center center/cover;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 30px;
                        margin-left: -120px;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}


.s13 {
    padding: 5rem 0 !important;
    background: url(../img/s13-back.png) no-repeat center center/cover;
    height: 888px;
    border: none;
    @media (max-width: 1200px) {
        background: none;
        padding: 1rem 0 !important;
        height: 100%;
    }
    .center-wrap {
        h3 {
            font-family: 'Mont';
            font-style: normal;
            font-weight: 600;
            font-size: 90px;
            line-height: 120%;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-top: 2rem;
            margin-bottom: 3rem;
            @media (max-width: 1200px) {
                color: #000;
                margin-top: 3rem;
                margin-bottom: 1rem;
            }
        }
        .project-fulldesc__block {
            .project-fulldesc__grid {
                .project-fulldesc__grid-block:first-of-type {
                    background: #fff;
                    border: 3px solid #FFFFFF;
                    border-radius: 30px 30px 0px 0px;
                    padding: 3rem 4rem;
                    @media (max-width: 1200px) {
                        padding: 1rem;
                    }
                    li {
                        font-family: 'Helvetica';
                        font-style: normal;
                        font-weight: 300;
                        font-size: 22px;
                        line-height: 146%;
                        text-indent: -2.3rem;
                        padding-left: 2.3rem;
                        @media (max-width: 1200px) {
                            font-size: 18px;
                            text-indent: -1.8rem;
                            padding-left: 1.8rem;
                        }
                    }
                }
                .project-fulldesc__grid-block:last-of-type {
                    background: url(../img/s13-img.svg) no-repeat center center/contain;
                }
            }
        }
    }
}


.s14 {
    padding: 5rem 0 !important;
    .center-wrap {
        .project-fulldesc__block {
            .project-fulldesc__grid {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .sec8__le {
                    position: relative;
                    max-width: 545px;
                    width: 35%;
                    @media (max-width: 1200px) {
                        width: 100%;
                        margin: 0 auto 5rem auto;
                    }
                    .sec8__i1 {
                        position: absolute;
                        top: 0;
                        left: -70px;
                        z-index: -1;
                    }
                    .sec8__i2 {
                        position: absolute;
                        top: 45%;
                        left: -70px;
                        z-index: -1;
                    }
                    .sec8__i3 {
                        max-width: 300px;
                        z-index: 1;
                    }
                    .sec8__i4 {
                        position: absolute;
                        bottom: 20%;
                        left: 42%;
                        @media (max-width: 1200px) {
                            left: 12%;
                        }
                        .sec8__i4tx {
                            width: 280px;
                            height: 91px;
                            position: absolute;
                            background: url(../img/union.png) no-repeat center center/cover;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            div {
                                margin-top: 15px;
                                p:first-of-type {
                                    font-family: 'Mont';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 133.5%;
                                    text-transform: uppercase;
                                    color: #313131;
                                }
                                p:last-of-type {
                                    font-family: 'Mont';
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 133.5%;
                                    color: #313131;
                                }
                            }
                        }
                    }
                }
                .sec8__ri {
                    width: 55%;
                    @media (max-width: 1200px) {
                        width: 100%;
                        margin: 2rem auto;
                    }

                    .header__btns {
                        width: 100%;
                        max-width: 678px;
                        height: 130px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: 'Helvetica';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 31.9298px;
                        line-height: 37px;
                        margin: 3rem 0;
                        text-align: center;
                        text-transform: uppercase;
                        @media (max-width: 1200px) {
                            margin: 3rem auto;
                            width: 300px;
                            height: 80px;
                        }
                        .header__btn {
                            .js-run {
                                .run-btn__dott {
                                    margin: 0.6rem 0rem 0.6rem 0.8rem;
                                }
                            }
                        }
                        a {
                            width: 678px;
                            height: 130px;
                            font-family: 'Helvetica';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 32px;
                            line-height: 37px;
                            display: flex;
                            align-items: center;
                            text-transform: uppercase;
                            border-radius: 190.95px;
                            @media (max-width: 1200px) {
                                width: 300px;
                                height: 80px;
                                font-size: 24px;
                            }
                        }
                    }
                    p {
                        font-family: Mont;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 23px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #313131;
                        margin-bottom: 1rem;
                        text-align: center;
                    }
                    .sec8__tel {
                        font-family: Mont;
                        font-size: 25px;
                        font-weight: 600;
                        line-height: 36px;
                        letter-spacing: 0em;
                        text-align: center;
                        margin: auto;
                        color: #313131;
                        display: block;
                        @media (max-width: 1200px) {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}